{% extends 'header.html' %}

{% block head %}


<title>Index</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12"  style="margin-bottom:20px;">
        <div class="row">
            <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                California Housing Prices Prediction.
            </div>
            <div class="card-body">
        
                <h5 class="card-title">Median house prices for California districts derived from the 1990 census.</h5>
                <p class="card-text"><p><strong>DESCRIPTION</strong><br />
                    <strong>Background of Problem Statement :</strong><br />
                    The US Census Bureau has published California Census Data which has 10 metrics such as the population, median income, median housing price, and so on for each block group in California. The dataset also serves as an input for project scoping and tries to specify the functional and non-functional requirements for it.</p>
                    <p><strong>Problem Objective :</strong><br />
                    The project aims to build a housing price model to predict median house values in California using the provided dataset. This model should learn from the data and be able to predict the median housing price in any district, given all the other metrics.</p>
                    <p>Districts or block groups are the most minor geographical units for which the US Census Bureau publishes sample data (a block group typically has a population of 600 to 3,000 people). There are 20,640 districts in the project dataset.</p>
                    <p><strong>Domain:</strong> Finance and Housing</p>   
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <iframe  style = "width:100%;height:100%" src="https://www.youtube.com/embed/42IQIKMSukY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        </div>
<div class="col-md-4 col-lg-4 col-sm-12">
<div class="card">
    <div class="card-header">
       View Logs
    </div>
    <div class="card-body">

        <h5 class="card-title">Log Files</h5>
        <p class="card-text">All model training log file can be downloaded.</p>
        <a class="btn btn-primary" href="/logs">Check Logs</a>
    </div>
</div>
</div>


<div class="col-md-4 col-lg-4 col-sm-12" style="margin-bottom:20px;">
    <div class="card">
        <div class="card-header">
           View Artifacts
        </div>
        <div class="card-body">
    
            <h5 class="card-title">Artifact Files</h5>
            <p class="card-text">All model artifacts file can be downloaded.</p>
            <a class="btn btn-primary" href="/artifact">Check Artifacts</a>
        </div>
    </div>
    </div>



    <div class="col-md-4 col-lg-4 col-sm-12"  style="margin-bottom:20px;">
        <div class="card">
            <div class="card-header">
               View Trained Models
            </div>
            <div class="card-body">
        
                <h5 class="card-title">Trained Models</h5>
                <p class="card-text">All model file can be downloaded.</p>
                <a class="btn btn-primary" href="/saved_models">Check Models</a>
            </div>
        </div>
        </div>

        
    <div class="col-md-4 col-lg-4 col-sm-12"  style="margin-bottom:20px;">
        <div class="card">
            <div class="card-header">
              Estimate California price
            </div>
            <div class="card-body">
        
                <h5 class="card-title">Access California estimator</h5>
                <p class="card-text">Form will be displayed. Submit the form to get estimated price for california house.</p>
                <a class="btn btn-primary" href="/predict">Get Estimated Price</a>
            </div>
        </div>
        </div>
 
        <div class="col-md-4 col-lg-4 col-sm-12"  style="margin-bottom:20px;">
            <div class="card">
                <div class="card-header">
                  Train housing estimator model.
                </div>
                <div class="card-body">
            
                    <h5 class="card-title">Initiate model training.</h5>
                    <p class="card-text">Model training will be done. Files such as log, artifact and models can be viewed and downloaded using appropriate link.</p>
                    <a class="btn btn-danger" href="/train">Initiate Training</a>
                </div>
            </div>
            </div>
        




            
</div>

{% endblock %}